<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquid architecto debitis ea enim
                incidunt laborum quasi quia reprehenderit sapiente. Asperiores, atque deserunt dignissimos, distinctio
                dolore eum expedita facere facilis fuga hic, iusto labore libero quam quia recusandae reiciendis
                voluptatem.
            </div>
            
            <h1>NUEVO ORIGAMI Y OTRO MÁS</h1>
            
<%= content_for :titulo, "OrigamiMania"%>
